{% extends "base.html" %}

{% block head %}
{{ super() }}
<style type="text/css"><!--

    td.past-month {
        color: #bbb;
    }

    #cal table {
        margin: 0 10%;
        width: 80%;
        height: 80%;
    }

    #cal h1 {
        background-color: #fff;
        padding: 3px;
    }

    //--></style>
{% endblock %}

{% block body %}
<div id='calendar'></div>
{% endblock %}

{% block footer %}
<footer>
  <p>Created by <a href="http://andrewbolster.info">Bolster</a></p>
  <p>Developed by everyone: <a href="http://github.com/andrewbolster/nical">Get Involved</a>.</p>
</footer> 
{% endblock %}

{% block tail %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
            $('#calendar').fullCalendar({
                year :{{today.year}},
                month :{{today.month - 1}},
                firstDay:1,
                header:{
                    left:'prev',
                    center:'title',
                    right:'next'
                },
                eventSources:[
                    {% for source in sources %}
                        {
                        'className':'{{source.name}}',
                        'url':'{{source.url}}'
                        }
                    {% endfor %}
                ] 

                });
            });
        </script>
        {% endblock %}
